.body {
  height: 5rem;
  width: 3rem;
  background-color: white;
  position: relative;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.top {
  background-color: grey;
  height: 1rem;
  width: 3rem;
  position: absolute;
  border-radius: 40%;
  top: -0.5rem;
}
.side {
  position: absolute;
  right: -0.9rem;
  bottom: 1.3rem;
  width: 0;
  height: 0;
  border-top: 1rem solid white;
  border-right: 1rem solid transparent;

  transform: rotate(135deg);
}