@import "src/styles/colors";
@import "src/styles/fonts";
@import "src/styles/mixins";
.movie_draw_button {
  background-color: white;
  margin-left: 11rem;
  color: $violetBgCardColor;
  font-family: $mainFont2;
  font-weight: bold;
  font-size: 1rem;
  outline: none;
  width: 7rem;
  height: 3rem;
  border-radius: 1rem;
  text-align: center;
}
@include mobile {
  .movie_descritpion {
    font-size: 1.7rem;
    overflow: auto;
    height: 9rem;
  }
}