@import "src/styles/colors";
@import "src/styles/fonts";

.movie_draw_button {
  background-color: white;
  margin-left: 11rem;
  color: $violetBgCardColor;
  font-family: $mainFont2;
  font-weight: bold;
  outline: none;
  width: 7rem;
  height: 3rem;
  border-radius: 1rem;
  text-align: center;
}