$headerFontColor: rgba(199, 202, 35, 1);
$BlackCardColor: rgba(33, 33, 28, 1);
$userBoxBgColor: rgba(139, 146, 122, 1);
$userBoxInfoBgColor: rgba(192, 194, 79, 1);


$brightBackgroundColor: rgb(248, 236, 212);
$brightBackgroundColor2: rgb(245, 182, 173);
$brightBackgroundColor3: rgb(229, 136, 124);
$whiteCardColor: rgb(242, 244, 243);
$orangeBGCardColor: rgb(248, 194, 74);
$violetBgCardColor: rgb(121, 123, 208);
$note1Color: rgb(229, 137, 124);
$orangeForCalendarColor: rgb(247, 147, 32);
$bgCalendarColor: rgb(247, 237, 211);
$dateColor: rgb(131, 69, 46);
$clockColor: rgb(79, 76, 77);
