@import "src/styles/colors";
@import "src/styles/fonts";

.add_container {
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
  height: 15rem;
  width: 30rem;
  padding-right: 2rem;
}
.add_container_buttons {
  border-radius: 50%;
  outline: none;
  background: none;
  border: none;
}
.fas {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  font-size: 5rem;
  color: white;
  margin: 2rem;
}
.fas:hover {
  color: $orangeBGCardColor ;
}
.details_container{
  max-height: 20rem;
  margin: 3rem;
  padding: 1rem;
  overflow: auto;
  font-size: 1rem;
  font-family: $headerFont;
  color: white;
  background-color: $violetBgCardColor;
  border-radius: 2rem;
}
.details_container-list {
  list-style: none;
  color: $orangeBGCardColor;
}
.statistic_bar {
  height: 2rem;
  background-color: greenyellow;
}
.statistic_bar2 {
  height: 2rem;
  background-color: red;
}
.small_user2 {
  width: 4rem;
  height: 4rem;
  background-image: url("../../images/user2.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.statistic_container-text {
  font-family: $mainFont2;
  color: white;
  font-size: 0.7rem;
  text-align: center;
}
.statistic_container-dog:hover {
  transform: scale(2);
  background-color: $violetBgCardColor;
  border-radius: 2rem;
  border: 0.5rem solid $orangeBGCardColor;
}
.statistic_container-bin:hover {
  transform: scale(2);
  background-color: $violetBgCardColor;
  border-radius: 2rem;
  border: 0.5rem solid $orangeBGCardColor;
}
.statistic_container-broom:hover {
  transform: scale(2);
  background-color: $violetBgCardColor;
  border-radius: 2rem;
  border: 0.5rem solid $orangeBGCardColor;
}
.statistic_container-sink:hover {
  transform: scale(2);
  background-color: $violetBgCardColor;
  border-radius: 2rem;
  border: 0.5rem solid $orangeBGCardColor;
}