@import "src/styles/colors";
@import "src/styles/fonts";
@import "src/styles/mixins";

.calendar_container {
  height: 13rem;
  width: 20rem;
  background-color: $bgCalendarColor;
  border-top: 3rem solid $orangeForCalendarColor;
  border-right: 1rem solid $orangeForCalendarColor;
  border-bottom:1rem solid $orangeForCalendarColor;
  border-left:1rem solid $orangeForCalendarColor;
  border-radius: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $mainFont2;
  font-size: 1.5rem;
  padding: 1rem;
  box-shadow: 9px 10px 5px 0 rgba(0,0,0,.75);
}
.calendar_date{
  font-size: 3rem;
  text-align: center;
  color: $dateColor;
}
