@import "src/styles/colors";
@import "src/styles/fonts";
@import "src/layouts/HomePage/homepage";

.user2_box {
  height: 35.5rem;
  width: 25rem;
  background-color: $orangeBGCardColor;
  border: 0.625rem solid $whiteCardColor;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0.4) skew(-25deg) rotateX(60deg);
  position: absolute;
  top: 14rem;
  left: 40rem;
  box-shadow: 0.56rem 0.625rem 0.31rem 0 rgba(0,0,0,.75);
}
.user2_box:hover {
  transform: scale(1);
  position: absolute;
  bottom: 7.5rem;
  z-index: 1;
}

.user2_photo2 {
  background-image: url("../../images/user2.jpg");
  background-size: cover;
  background-position: center;
  height: 15rem;
  width: 21.25rem;
  border-radius: 2rem;
  margin-top: 1.5rem;
}

.user2_info {
  background-color: $violetBgCardColor;
  height: 15rem;
  width: 21.25rem;
  border-radius: 2rem;
  margin-top: 1.5rem;
  text-align: center;
}
.user2_title {
  font-size: 2rem;
  font-family: $mainFont2;
  margin-top: 0.8rem;
}
.user2_level {
  font-size: 1.2rem;
  font-family: $mainFont2;
  margin-top: 0.8rem;
}
.user2_speciality {
  font-size: 1rem;
  font-family: $mainFont2;
  color: white;
  margin-top: 0.8rem;
}
.user2_points {
  font-size: 2.8rem;
  font-family: $mainFont2;
  margin-top: 3rem;
}