@import "src/styles/colors";
@import "src/styles/fonts";


.user2_box {
  height: 10rem;
  width: 7rem;
  background-color: $orangeBGCardColor;
  border: 0.225rem solid $whiteCardColor;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform:  skew(-25deg) rotateX(50deg);
  box-shadow: 0.56rem 0.625rem 0.31rem 0 rgba(0,0,0,.75);
  position: absolute;
  top: 6rem;
  right:10rem ;
}
.user2_box:hover {
  transform: scale(3);
  position: absolute;
  top: 9rem;
  z-index: 1;
}
.user2_photo1 {
  background-image: url("../../images/user2.jpg");
  background-size: cover;
  background-position: center;
  height: 4rem;
  width:6rem;
  border-radius: 0.5rem;
  margin-top: 0.3rem;
}

.user2_info {
  background-color: $violetBgCardColor;
  height: 4.7rem;
  width: 6rem;
  border-radius: 0.5rem;
  margin-top: 0.3rem;
  text-align: center;
}
.user2_title {
  font-size: 1rem;
  font-family: $mainFont2;
  margin-top: 0.2rem;
  color: white;
}
.user2_level {
  font-size: 0.6rem;
  font-family: $mainFont2;

}
.user2_speciality {
  font-size: 0.3rem;
  font-family: $mainFont2;
  color: white;
}
.user2_points {
  font-size: 1rem;
  font-family: $mainFont2;
}

.user2_box-2 {
  height: 35.5rem;
  width: 55rem;
  background-color: $orangeBGCardColor;
  border: 0.625rem solid $whiteCardColor;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  box-shadow: 0.56rem 0.625rem 0.31rem 0 rgba(0,0,0,.75);
  z-index: 3;
}

.user2_photo1-2 {
  background-image: url("../../images/user2.jpg");
  background-size: cover;
  background-position: center;
  height: 15rem;
  width: 21.25rem;
  border-radius: 2rem;
  margin-top: 1.5rem;
}

.user2_info-2 {
  background-color: $violetBgCardColor;
  height: 15rem;
  width: 21.25rem;
  border-radius: 2rem;
  margin-top: 1.5rem;
  text-align: center;
}
.user2_title-2 {
  font-size: 2rem;
  font-family: $headerFont;
  margin-top: 0.8rem;
  color: white;
}
.user2_level-2 {
  font-size: 1.2rem;
  font-family: $headerFont;
  margin-top: 0.8rem;
}
.user2_speciality-2 {
  font-size: 1rem;
  font-family: $headerFont;
  color: white;
  margin-top: 0.8rem;
}
.user2_points-2 {
  font-size: 2.8rem;
  font-family: $headerFont;
  margin-top: 3rem;
}
.pages_container {
  width: 56%;
  height: 92%;
  margin-top: 1.4rem;
  margin-right: 1rem;
  margin-left: 1rem;
  background-color: $clockColor;
  border-radius: 2rem;
}
.pages_container-close_button {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: none;
  color: white;
  position: absolute;
  right:- 24rem;
  border: none;
  font-weight: bold;
}