.main_container {
  background-image: url("../../images/mainBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.user_container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  padding: 3.75rem;
  display: flex;
  position: relative;
}