@import "../../styles/colors";
@import "../../styles/fonts";

.header_container {
  margin: 0 auto;
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;

}








